.grid-container {
    display: grid;
    grid-template-areas: 
    'content side-panel'
    'pagination pagination';
    grid-template-columns: 4fr 1fr;
    grid-template-rows: auto;
    gap: 10px;
}

#content {
    grid-area: content;
    background-color: #f7f7f9;
    border-radius: 8px;
    padding: 5px;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
}

#side-panel {
    grid-area: side-panel;
    background-color: #f7f7f9;
    border-radius: 8px;
    padding: 5px;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
    padding: 20px;
}

#pagination {
    grid-area: pagination;
    background-color: #f7f7f9;
    border-radius: 8px;
    padding: 5px;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
}

#pagination-bttns {
    display: grid-inline;
}

#content {
    display: grid;
    grid-template-columns: 1fr;
}

.element-container {
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.5);
    margin: 10px;
    padding: 10px;
}

.element-item {
    position: relative !important;
    left: 0 !important;
    top: 0 !important;
}