#csi-grid-container {
    display: grid;
    grid-template-areas:
        'csi-side-panel csi-content'
        'csi-pagination csi-pagination';
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto;
    gap: 10px;
}

#csi-content {
    grid-area: csi-content;
    background-color: #f7f7f9;
    border-radius: 8px;
    padding: 5px;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
}

#csi-side-panel {
    grid-area: csi-side-panel;
    background-color: #f7f7f9;
    border-radius: 8px;
    padding: 5px;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
    padding: 20px;
}

#csi-pagination {
    grid-area: csi-pagination;
    background-color: #f7f7f9;
    border-radius: 8px;
    padding: 5px;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
}

#csi-pagination-bttns {
    display: grid-inline;
}

#csi-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(min-content, max-content);
}

.csi-element-container {
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 .125rem .7rem rgba(0, 0, 0, .5);
    margin: 10px;
    padding: 20px;
}

#csi-previous-page,
#csi-next-page {
    margin: 10px;
    border-radius: 5px;
}

.csi-side-panel-ul {
    list-style-type: none;
    padding: 0 !important;
}

.csi-side-panel-checkbox {
    margin-right: 10px;
}

#csi-pagination,
#csi-content {
    padding: 20px;
}

.csi-public-item-table,
.csi-item-tr,
.csi-item-th,
.csi-item-td {
    margin: 2px !important;
    padding: 2px !important;
}

.csi-item-th {
    width: 12vw;
}

#csi-filter-button-container {
    display: none;
}

#csi-side-panel {
    display: block;
}

.csi-public-item-content {
    display: flex;
    justify-content: space-between;
}

.csi-public-item-img {
    display: block;
    height: auto;
    max-width: 250px;
    margin-left: 10px;
    object-fit: contain;
}

@media screen and (max-width: 550px) {
    #csi-grid-container {
        grid-template-areas:
            'csi-side-panel'
            'csi-content'
            'csi-pagination';
        grid-template-columns: 1fr;
    }

    #csi-filter-button-container {
        display: flex;
        justify-content: end;
    }

    #csi-public-info-modal-body-container {
        grid-template-areas:
            'modal-body-image'
            'modal-body-content'
            'modal-body-actions';
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    .csi-public-item-img {
        display: none;
    }
}

/* TreeView */
#csi-sbi-ul {
    list-style-type: none;
}

#csi-sbi-ul {
    margin: 0;
    padding: 0;
}

.csi-sbi-caret {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.csi-sbi-caret::before {
    content: "\25B6";
    color: black;
    display: inline-block;
    margin-right: 6px;
}

.sbi-tree-caret-down::before {
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.csi-sbi-nested {
    display: none;
}

.sbi-tree-active {
    display: block;
}

.csi-sbi-nested {
    list-style: none;
}

#sbi-tree-view-container {
    overflow: auto;
    max-height: 50vh;
    max-width: 50vw;
    margin-bottom: 2vh;
}

/* Modal */
.csi-public-info-modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 10vh;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.csi-public-info-modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    max-width: 80vw;
}

@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

#csi-public-info-modal-close {
    color: #888;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#csi-public-info-modal-close:hover,
#csi-public-info-modal-close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.csi-public-info-modal-header {
    padding: 16px 16px 1px;
    background-color: #fefefe;
    color: white;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .5);
}

.csi-public-info-modal-body {
    padding: 16px 16px 16px 16px;
    max-width: 80vw;
    max-height: 60vh;
    overflow: auto;
}

.csi-public-info-modal-footer {
    padding: 16px 16px 1px;
    background-color: #fefefe;
    color: black;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .5);
}

#csi-public-info-modal-header-h1 {
    margin-top: 10px;
}

#csi-public-info-modal-footer-p {
    margin-top: 10px;
}

#csi-public-info-modal-body-container {
    display: grid;
    grid-template-areas:
        'modal-body-image'
        'modal-body-content'
        'modal-body-actions';
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 10px;
    overflow: auto;
}

#csi-public-info-modal-body-content {
    grid-area: modal-body-content;

    display: grid;
    grid-template-areas:
        'modal-body-content-contact'
        'modal-body-content-details'
        'modal-body-content-context'
        'modal-body-content-links';
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 10px;
    overflow: auto;
}

#csi-public-info-modal-body-image {
    grid-area: modal-body-image;
    display: block;
    height: auto;
    max-width: 250px;
    margin: 10px;
    object-fit: contain;
}

#csi-public-info-modal-body-actions {
    grid-area: modal-body-actions;
}

#csi-public-info-modal-body-content-contact {
    grid-area: modal-body-content-contact;
    width: auto;
}

#csi-public-info-modal-body-content-details {
    grid-area: modal-body-content-details;
    width: auto;
}

#csi-public-info-modal-body-content-context {
    grid-area: modal-body-content-context;
}

.csi-public-info-modal-body-content-context-td {
    word-break: break-word;
}

#csi-public-info-modal-body-content-links {
    grid-area: modal-body-content-links;
    width: auto;
}

#csi-public-info-modal-body-content-contact-table, #csi-public-info-modal-body-content-details-table,
#csi-public-info-modal-body-content-context-table, #csi-public-info-modal-body-content-links-table {
    table-layout:fixed;
}

.csi-public-info-modal-open {
    font-size: large;
}

/* Loader */
.csi-public-loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #f5a61a;
    width: 60px;
    height: 60px;
    -webkit-animation: spin 0.5s linear infinite;
    animation: spin 0.5s linear infinite;
    margin:auto;
    left:0;
    right:0;
    top:0;
    bottom:0;
    position:fixed;
}