.csi-grid-container {
    display: grid;
    grid-template-areas: 
    'csi-side-panel csi-content'
    'csi-pagination csi-pagination';
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto;
    gap: 10px;
}

#csi-content {
    grid-area: csi-content;
    background-color: #f7f7f9;
    border-radius: 8px;
    padding: 5px;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
}

#csi-side-panel {
    grid-area: csi-side-panel;
    background-color: #f7f7f9;
    border-radius: 8px;
    padding: 5px;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
    padding: 20px;
}

#csi-pagination {
    grid-area: csi-pagination;
    background-color: #f7f7f9;
    border-radius: 8px;
    padding: 5px;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
}

#csi-pagination-bttns {
    display: grid-inline;
}

#csi-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
}

.csi-element-container {
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.5);
    margin: 10px;
    padding: 10px;
}

/* .csi-element-item {
    position: relative !important;
    left: 0 !important;
    top: 0 !important;
} */

#csi-previous-page, #csi-next-page {
    margin: 10px;
    border-radius: 5px;
}

ul {
  list-style-type: none;
}

input[type='checkbox'] {
  margin-right: 10px;
}

#csi-pagination, #csi-content {
    padding: 20px;
}