select[name="nfFormTable_length"] {
    padding: 4px 20px 4px 4px !important;
}

#table-wrap {
    margin-top: 3vh;
    width: 80%;
}

#submit-wrap {
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
    margin-top: 1vh;
}

.paginate_button {
    margin: 10px;
    color: #2271b1 !important;
    border-color: #2271b1 !important;
    background: #f6f7f7 !important;
    border-radius: 3px !important;
}

#csi-success-message {
    display: block;
    box-sizing: border-box;
    position: relative;
    color: #004085 !important;
    background-color: #cce5ff !important;
    border-color: #b8daff !important;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    padding: .75rem 1.25rem;
    margin-top: 1rem;
    height: 5vh;
    width: 75vw;
    text-align: center;
}