select[name="nfFormTable_length"] {
    padding: 4px 20px 4px 4px !important;
}

#table-wrap {
    margin-top: 3vh;
    width: 80%;
}

#submit-wrap {
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    margin-top: 2vh;
}

.paginate_button {
    margin: 3px;
    color: #2271b1 !important;
    border-color: #2271b1 !important;
    background: #f6f7f7 !important;
    border-radius: 3px !important;
}

#nfFormTable > thead > tr > th,  #nfFormTable > tbody > tr > td {
    text-align: left;
}

#csi-info-data-table > tbody > tr > th, #csi-info-data-table > tbody > tr > td {
    text-align: left;
    background-color: #f7f7f9;
    border-radius: 8px;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.1);
    padding: 10px;
}

#csi-info-data-table {
    border-spacing: 4px;
}

#csi-info-data-table > tbody > tr > td {
    display: flex;
    justify-content: flex-start;
    word-break: break-all;
}

.submit-button {
    margin: 0.2vw !important;
}

#csi-admin-info-img, #csi-admin-info-video {
    height: auto;
    max-width: 250px;
    object-fit: contain;
}