select[name="nfFormTable_length"] {
    padding: 4px 20px 4px 4px !important;
}

#table-wrap {
    margin-top: 50px;
    width: 80%;
}

#submit-wrap {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.paginate_button {
    margin: 10px;
    color: #2271b1 !important;
    border-color: #2271b1 !important;
    background: #f6f7f7 !important;
    border-radius: 3px !important;
}